.popularCourses {
  max-width: var(--maxWidthContainer);
  margin: 0 auto;
  padding-top: 125px;
}

.popularTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popularTop {
  width: 669px;
}

.popularTop p {
  margin-top: 24px;
}

.buttonArrow {
  display: flex;
  gap: 5px;
}

.buttonArrow button {
  height: 56px;
  width: 56px;
  background-color: transparent;
  border: 1px solid var(--gray-600);
  border-radius: 100%;
  cursor: pointer;
}

.cardRow {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}
.popularCard {
  margin-top: 40px;
  border-radius: 13px;
  border: 1px solid var(--gray-200);
}
.cardBody {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
}

.cardTop {
  display: flex;
  gap: 8px;
}
.cardTop1 {
  background: rgba(255, 151, 0, 0.1);
  border: 1px solid rgba(255, 151, 0, 0.5);
  border-radius: 5px;
  width: auto;
  font-size: 13px;
  padding: 4px 8px 4px 8px;
}
.cardTop2 {
  background: rgba(205, 229, 51, 0.2);
  border: 1px solid rgba(205, 229, 51, 1);
  border-radius: 5px;
  width: auto;
  font-size: 13px;
  padding: 4px 8px 4px 8px;
}

.cardBottom {
  margin-top: 30px;
}
.cardBottom span {
  font-weight: 400;
}
