@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");
:root {
  --maxWidthContainer: 1170px;
  --primary-color: #287279;
  --white: #ffffff;
  --black: #000000;
  --gray-100: rgba(0, 0, 0, 0.1);
  --gray-200: rgba(0, 0, 0, 0.2);
  --gray-700: rgba(0, 0, 0, 0.7);
  --gray-600: rgba(0, 0, 0, 0.6);
  --gray-500: rgba(0, 0, 0, 0.5);
  --light-600: rgba(255,255,255, 0.6);
  --border-color: rgba(203, 203, 203, 0.55);
}
.swiper-button-next{
  display: none !important;
}
.swiper-button-prev{
  display: none !important;
}

.swiper-pagination-bullet-active{
  background: rgba(153, 152, 225, 1) !important;

}
.swiper-pagination-bullet{
  border: 1px solid var(--gray-200) !important;
}
.swiper-pagination{

}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;

}
body {
  font-family: "Onest", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  overflow-x: hidden;
  letter-spacing: -0.5%  ;
 
 
}
li{
  list-style-type: none;
}
a{
  text-decoration: none;
}
.container {
  max-width: 1150px;
  padding: 10px;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  color: var(--black);
}
h2 {
  font-size: 40px;
  font-weight: bold;
  color: var(--black);
}
h3 {
  font-size: 32px;
  font-weight: 500;
  color: var(--black);
}
h4 {
  font-size: 24px;
  font-weight: 500;

  letter-spacing: -0.5;
}
.title {
  font-size: 24px;
  font-weight: 500;
  color: var(--gray-700);
  letter-spacing: -0.5;
}
p{
  font-size: 16px;
  color: var(--gray-700);
  font-weight: 400;
  line-height: 24px;
}
.btn-primary {
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
  width: 157px;
  height: 48px;
  border-radius: 32px;
  outline: none;
  font-weight: 600;
  font-size: 14px;
  font-stretch: normal;
}
.btn-outline-none {
  background-color: transparent;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  width: 127px;
  height: 48px;
  border-radius: 32px;
  outline: none;
  font-weight: 600;
  font-size: 14px;
  font-stretch: normal;
  transition: all 500ms ease-in;
}
.btn-outline-none:hover {
  background-color: var(--primary-color);
  color: var(--white);
}

.btn-outline-none-accordion {
  background-color: transparent;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  width: 258px;
  height: 50px;
  border-radius: 32px;
  outline: none;
  font-weight: 600;
  font-size: 14px;
  font-stretch: normal;
  transition: all 500ms ease-in;
}
.btn-outline-none-accordion:hover {
  background-color: var(--primary-color);
  color: var(--white);
}


.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.justify-between {
  justify-content: space-between;
}
.align-items-start {
  align-items: flex-start;
}
.gap-20 {
  gap: 20px;
}
.justify-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}
.text-center {
  text-align: center;
}
.gap-10 {
  gap: 10px;
}
.gap-5 {
  gap: 5px;
}
.gap-8 {
  gap: 8px;
}
.gap-15 {
  gap: 15px;
}
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.pt-5 {
  padding-top: 5px;
}
.pt-10 {
  padding-top: 10px;
}
.pt-15 {
  padding-top: 15px;
}


.grid {
  display: grid;
}


